.mule/apps/apdev-flights-ws-mod06/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8000" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <sub-flow name="subflow1">
        <set-payload value="#['Hello world'.toUpperCase()]" doc:name="Set Payload"/>
        <set-property propertyName="qpname" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Property"/>
    </sub-flow>
    <sub-flow name="subflow2">
        <set-variable variableName="qptype" value="#[message.inboundProperties.'http.query.params'.type]" doc:name="Variable"/>
        <set-session-variable variableName="color" value="gray" doc:name="Session Variable"/>
    </sub-flow>
    <flow name="get:/hello:api-config">
        <flow-ref name="subflow1" doc:name="subflow1"/>
        <flow-ref name="subflow2" doc:name="subflow2"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="vmflow" doc:name="VM"/>
        <logger message="Name: #[message.outboundProperties.qpname] Type: #[flowVars.qptype] Color: #[sessionVars.color]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="apiFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="vmflow" doc:name="VM"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <logger message="Name: #[message.outboundProperties.qpname] Type: #[flowVars.qptype] Color: #[sessionVars.color]" level="INFO" doc:name="Logger"/>
    </flow>

    <flow name="get:/flights:api-config">
        <set-payload value="[&#xA;    {&#xA;      &quot;airline&quot;: &quot;United&quot;,&#xA;      &quot;flightCode&quot;: &quot;ER38sd&quot;,&#xA;      &quot;fromAirportCode&quot;: &quot;LAX&quot;,&#xA;      &quot;toAirportCode&quot;: &quot;SFO&quot;,&#xA;      &quot;departureDate&quot;: &quot;May 21, 2016&quot;,&#xA;      &quot;emptySeats&quot;: 0,&#xA;      &quot;totalSeats&quot;: 200,&#xA;      &quot;price&quot;: 199,&#xA;      &quot;planeType&quot;: &quot;Boeing 737&quot;&#xA;    },&#xA;    {&#xA;      &quot;airline&quot;: &quot;Delta&quot;,&#xA;      &quot;flightCode&quot;: &quot;ER0945&quot;,&#xA;      &quot;fromAirportCode&quot;: &quot;PDX&quot;,&#xA;      &quot;toAirportCode&quot;: &quot;CLE&quot;,&#xA;      &quot;departureDate&quot;: &quot;June 1, 2016&quot;,&#xA;      &quot;emptySeats&quot;: 24,&#xA;      &quot;totalSeats&quot;: 350,&#xA;      &quot;price&quot;: 450,&#xA;      &quot;planeType&quot;: &quot;Boeing 747&quot;&#xA;    }&#xA;]" doc:name="Set Payload"/>
    </flow>

    <flow name="post:/flights:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&quot;message&quot;: &quot;Flight added (but not really)&quot;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
